# files the git should ignore - appfactory.git
/build/
.project
.settings/
.classpath
target/
/Local.mk
.springBeans
META-INF

# IntelliJ
*.iml
*.ipr
*.iws
rebel.xml

# utils
*.exe

# vim
.*.swp
.*.swo

# python
*.egg
*.egg-info
*.pyc
build
