################################################################################
## ThinApp Factory WebUI
## (c) 2011 VMware, Inc. All rights reserved.
################################################################################

################################################################################
## recipe-edit-files.vm
##
## The tab in the recipe editor that handles files.
################################################################################

<div class="button-row">
   <button
      class="button"
      onclick="VmTAF.recipeManager.SaveRecipe();">
      #springMessage("T.RECIPES.SAVE_RECIPE")
   </button>
   <button
         class="button"
         onclick="VmTAF.recipeManager.cancel();">
      #springMessage("T.COMMON.CANCEL")
   </button>
</div>

<div id="recipe-files-stack">
   ## Stack editor added here by RecipeManager
</div>
