<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
################################################################################
## ThinApp Factory WebUI
## (c) 2011 VMware, Inc. All rights reserved.
################################################################################

################################################################################
## store/store-front.vm
##
## This is the standalone view for the ThinApp Factory "store front", which
## shows all available builds that a user can download. This view is
## 'standalone' in that it can be displayed outside of the normal AppFactory
## user interface (requires no login, does not show the navigator, hides all
## other AppFactory functionality, etc).
################################################################################

<html>

<head>
   #set($pageTitle = 'VMware ThinApp Store')
   #parse("include/head.vm")
</head>

<body>

<div id="page">
   <div id="page-header">
      #set($headerLink = "$contextPath/store/installed")
      #set($headerLinkLabel = "Manage My Applications")
      #parse("store/store-header.vm")
   </div> ## #page-header

   <div class="page-body-wrapper">
      <div id="page-body">
         <div class="panel">
            <div class="panel-title">Available Applications
               <div class="panel-title-right"></div>
            </div>

            <div id="appstore" class="appstore">
               ## Popup button to download apps
               <a class="button activate-link" href="" id="action-button">
                  <div class="label">Get Applications</div>
                  <div class="appCount"></div>
               </a>

               ## Quick links to each category
               <div id="category-tabs" class="display-block taf-horiz-tabs">
                  <ul class="ui-corner-top">
                  </ul>
               </div> ## category-tabs
            </div> ## appstore
         </div> ## panel
      </div> ## page-body
   </div> ## page-body-wrapper

   <div class='af-dialog'><div id='modal-overlay'></div></div>
   <div id="notify-holder"></div>

</div> ## page
<div id="thinplugin"></div> ## Needed for thinplugin.js

</body>

<script type="text/javascript" charset="UTF-8">
   AfAddOnLoadEvent(function() {
      var APPSTORE = new AppStoreManager( {
         serverName : '$serverName',
         serverPort : '$serverPort',
         actionButton : $('#action-button'),
         action : "install",
         tabView : false
      });

      AfPleaseWaitModalInit();

      APPSTORE.PopulatePublishedBuilds();
      APPSTORE.InstallEventHandlers($('#category-tabs .thinapp'));
      //APPSTORE.CreateViewLink($('.panel-title-right')); XXX show both views.

      AfLog('appstore is ready');
   });
</script>

<script src="#jsUrl("/thinplugin.js")" type="text/javascript" charset="utf-8"></script>
<script src="#jsUrl("/AppStore.js")" type="text/javascript" charset="utf-8"></script>

</html>